Lab01/bin/
Lab02/bin/
Lab03/bin/
Lab04/bin/
Lab05/bin/
Lab06/bin/

Lab01/src/libs
Lab01/src/objs

Lab02/src/libs
Lab02/src/objs

Lab03/src/libs
Lab03/src/objs

Lab04/src/libs
Lab04/src/objs

Lab05/src/libs
Lab05/src/objs

Lab06/src/libs
Lab06/src/objs

other/
